@charset "utf-8";
*{
    font-family: 'simHei';
}

i{
    font-style: normal;
}

.btn{
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    border-radius: 3px !important;
}

.skin-blue .main-header .logo,.skin-blue .main-header .logo:hover{
    background: #293238;
}

.skin-blue .main-header .navbar{
    background: rgba(255, 255, 255, 1);
}

.skin-blue .main-header .navbar .sidebar-toggle{
    color: #8A909E;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background: #00a65a;
}

.o-top-header-title{
    display: inline-block;
    padding: 15px 0;
    line-height: 20px;
    color: #8A909E;
    font-size: 20px;
}

.o-top-header-title>small{
    margin-left: 24px;
}

.content-header>h1{
    font-family: 'Microsoft YaHei';
    font-weight: 500;
    font-size: 20px;
    color: #2B425B;
}

.content-header>.breadcrumb>li>a{
    color: #AFB9C3;
}

.breadcrumb>.active{
    color: #575C6E;
}

.content-wrapper{
    min-height: 90%;
}

/*新增年度采购计划*/
.box-header .box-title{
    font-family: 'simHei';
    font-size: 14px;
    color: #2B425B;
}
label{
    font-size: 13px;
    color: #758697;
    font-weight: 500;
}
.margin-r-15{
    margin-right: 15px;
}

.margin-l-5{
    margin-left: 5px;
}

.margin-l-15{
    margin-left: 15px;
}

.padding-btm-5{
    padding-bottom: 5px !important;
}

.box-bg{
    background: #F3F4F6;
}

td span.active.active, .pagination>.active>a, .datetimepicker table tr td.active.active{
    background: #00a65a !important;
}

/*查看年度计划列表*/
.o-apply-list-title-bg{
    background: #f2f2f2;
}

.pagination{
    margin:0;
}

.pagination>li>a,.b_page,.b_page>i{
    color: #4A90E2;
}

a.b_page.disabled{
    color: #757575;
}

a.b_page.disabled>i{
    color: #ddd;
}

/*模态框样式覆盖*/
.modal .modal-dialog,.modal.in .modal-dialog{
    margin: 0 !important;
    position: absolute;
    z-index:55;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0) !important;
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
}

.modal-header h5{
    font-size: 14px;
    font-weight: 500;
}

.modal-header h5>small{
    color: #999;
}

/*设备采购步骤*/
.mt-element-step .step-line .mt-step-number{
    width: 28px;
    height: 28px;
    font-size: 13px;
    line-height: 22px;
    padding: 0;
    margin: 0;
}

.mt-element-step .step-line .mt-step-title:after, .mt-element-step .step-line .mt-step-title:before{
    top: -12px;
}

.mt-element-step .step-line .mt-step-number>i{
    font-size: 20px;
    font-weight: 400;
    top: 20px
}

.mt-element-step .step-line .done .mt-step-content,
.mt-element-step .step-line .done .mt-step-title,
.mt-element-step .step-line .active .mt-step-content,
.mt-element-step .step-line .active .mt-step-title,
.mt-element-step .step-line .mt-step-title {
    font-size: 14px;
}

.add_shopper{
    border: 1px dashed #dedede;
}

.add_shopper>span{
    color: #757575;
    font-size: 14px;
}

textarea{
    resize: none;
}

textarea.form-control{
    height: 120px !important;
}

.msg-title, .msg-content{
    color: #666;
}

.msg-title{
    padding-left: 40px;
    font-size: 14px;
    line-height: 30px;
}

.msg-title>i:before{
    font-size: 30px;
    line-height: 30px;
}

.msg-content{
    padding-left: 80px;
    font-size: 12px;
    line-height: 16px;
}

.text-muted{
    color: #758697 !important;
}

.text-999{
    color: #999;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background: #00a65a;
    border-color: #008d4c;
}

.padding-lr-8{
    padding: 0 8px;
}

.bg-f2{
    background: #f2f2f2 !important;
}

/*科研设备*/
.page-my span{
    display: inline-block;
    font-size:12px;
    line-height: 28px;
    margin-right:5px;
}

.page-group{
    color: #999;
    height: 28px;
}

.page-group.active{
    color: #666;
}

.page-group .page-counter{
    line-height: 28px;
    width: 28px;
    color: #fff;
    background: #ddd;
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    border-radius: 100% !important;
}

.page-group.active .page-counter{
    background: #00c0ef !important;
    border-color: #00acd6 !important;
}

.cent-line{
    position: relative;
    display: block;
    width: 25px;
    height: 28px;
}

.cent-line:before{
    content: '';
    position: absolute;
    top: 50%;
    left:0;
    width: 100%;
    height: 2px;
    background: rgba(221, 221, 221, 1);
    -webkit-transform: translate3d(0 ,-50%, 0);
    -moz-transform: translate3d(0 ,-50%, 0);
    -o-transform: translate3d(0 ,-50%, 0);
    transform: translate3d(0 ,-50%, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

/*.active .page-counter:hover{*/
    /*background-color:#5bc0de !important;*/
    /*border-color:#46b8da !important;*/
/*}*/

/*十万元以上设备详情*/
.tabs{
    display: none;
}

.tabs.active{
    display: block;
}





