@charset "utf-8";
.skin-blue .main-header .logo,.skin-blue .main-header .logo:hover{
    background: #293238;
}
.skin-blue .main-header .navbar{
    background: rgba(255, 255, 255, 1);
}
.skin-blue .main-header .navbar .sidebar-toggle{
    color: #8A909E;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background: rgba(0, 0, 0, .4);
}
.o-top-header-title{
    display: inline-block;
    padding: 15px 0;
    line-height: 20px;
    color: #8A909E;
    font-size: 20px;
}
.o-top-header-title>small{
    margin-left: 24px;
}
.content-header>h1{
    font-size: 20px;
}
.content-header>.breadcrumb>li>a{
    color: #AFB9C3;
}
.breadcrumb>.active{
    color: #575C6E;
}

.content-wrapper{
    min-height: 90%;
}



